<nav>
  <ul>
    <li><a href="./index"><h3>HOME</h3></a></li>
    <li><a href=""><h4>View Recipes</h4></a>
    <div class="menu-1">
      <ul>
        <li><a href="./recipe">view all</a></li>
        <li><a href="./book">view by book</a></li>
      </ul>
    </div>
    </li>
    <li><a href=""><h4>Manage Recipes</h4></a>
    <div class="menu-1">
      <ul>
        <li><a href="./addRecipes">add recipes</a></li>
      </ul>
    </div>
    </li>
  </ul>
</nav>


