<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <script src="./../public/scriptBook.js"></script>
</head>

<body>
    <!--navbar-->
    <div class="hero">


        <nav>
          <div class="logo">
            <img src="logo.png" href="./index" alt="logo" style="width: 60px; height: 60px;" >
          </div>
        </nav>

        <div id="sidebar">
           <nav>
             <ul>
               <li><a href="./index"><h5>HOME</h5></a></li>
             </ul>

             
                 <!--Tabelle Rezepte-->
      
                <div class="col-xs-12 col-sm-8">
                  <div>
                    <p></p>  
                    <h5>Choose Book</h5>
                      <p></p>
                  </div>
                  <div>
                          <p></p>  
                          <button id="mixed" class="btn default" onclick="showDataBooks(this.id)">Mixed Recipes</button>
                            <p></p>
                   </div>
                   <div>
                            <button id="veggie" class="btn default" onclick="showDataBooks(this.id)">Veggie Book</button>
                            <p></p>
                   </div>
                    <div>
                            <button id="sweets" class="btn default" onclick="showDataBooks(this.id)">Cakes and <br/> Sweets</button>
                            <p></p>
                          </div>
                
                  </div>
         



           </nav>
         </div>
 
         <div id="menubtn">
           <img src="menu.png" id="menu" style="width: 50px; height: 50px;" >
         </div>



        <script>
            var menubtn = document.getElementById("menubtn")
            var sidebar = document.getElementById("sidebar")
            var menu = document.getElementById("menu")
            menubtn.onclick = function() {
              if(sidebar.style.right == "-250px") {
                sidebar.style.right = "0";
              }
              else {
                sidebar.style.right = "-250px"
              }
            }
          </script>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-8">
                <h1 class="hft-sb-title display-5">View All Recipes By Book</h1>
                <p></p>
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
        
        <style>
            .row {
                background: #dae4ff;
            }
        </style>
        <style>
            .tabbox {
                width: 200px;
            }
        </style>
        <style>
            .label {
                display: block;
                width: 200px;
                color: palevioletred;
            }
        </style>
        <style>
            .container h1 {
                color: palevioletred;
            }
        </style>
        <!--vertical-align: middle-->


        <div class="row justify-content-center">
            <div class=".col-xs-12 .col-md-8"></div>
               <div id='txtBook'>
                

                <!---Einfügen-->
                    <h4>Please choose a book</h4>

            </div>
               
        </div>
        <p></p>
        <button id="pre" class="btn default" onclick="prev()">Prev</button>
        <button id="nxt" class="btn default" onclick="next()">Next</button>
        </div>
    </div>






    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>